<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="copyright" content="Kopimi!">
    <meta name="robots" content="index,follow">
    <meta name="author" content="@renewclear1">
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@renewclear1">
    <meta name="twitter:creator" content="@renewclear1">
    <meta name="og:title" content="{{ page.title }}">
    <meta name="description" content="{{ page.description }}">
    <meta name="og:description" content="{{ page.description }}">
    <meta name="twitter:image" content="{{ site.url }}{{ page.img }}?{{page.refreshnum}}">
    <meta property="og:image" content="{{site.url}}{{ page.img }}?{{page.refreshnum}}">
    <title>{{ page.title }}</title>
  </head>
	<body>
		<div class="container">
			<h1 class="more-top add-left">
			</h1>
			<div class="">
				<article class="page-content">
					{{ content }}
				</article>
			</div>
		</div>
	</body>
</html>
